# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://avnadmin:AVNS_password@mysql-2102d704-r8875813-20ec.g.aivencloud.com:24548/defaultdb?ssl-mode=REQUIRED"

GMAIL_USER="yiur_email@gmail.com"
GMAIL_CLIENT_ID="gmailclient _id.apps.googleusercontent.com"
GMAIL_CLIENT_SECRET="gmail_client_secret"
GMAIL_REFRESH_TOKEN="1gmail_api_refreshtoken"
