# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://avnadmin:AVNS_qHhOqzAjkwz0EtySOts@mysql-2102d704-r8875813-20ec.g.aivencloud.com:24548/defaultdb?ssl-mode=REQUIRED"

GMAIL_USER="science12811@gmail.com"
GMAIL_CLIENT_ID="7417359386-fj6rge5e8jqvell8kpmp8atdnlunf8ap.apps.googleusercontent.com"
GMAIL_CLIENT_SECRET="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"
GMAIL_REFRESH_TOKEN="1//04Q4ZkhQS5mk9CgYIARAAGAQSNwF-L9IrJOEGJclHHCX5l5ThJ2UR4xvg_AxeQIHJZ6vRJdNLAg1LgAMAqnN0HpIodFaCz2e7Xgg"